main {
  align-self: stretch;
}

main .hero {
  height: 416px;
  padding: 28px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  position: relative;
}

@media only screen and (min-width: 900px) {
  main .hero {
    height: 416px;
    padding: 28px 88px;
  }
}

main .hero .blob-left {
  width: 139px;
  height: 95px;
  position: absolute;
  left: -62px;
  bottom: -30px;
  z-index: -1;
}

main .featured {
  width: 100%;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: var(--Lightest);
}

@media only screen and (min-width: 900px) {
  main .featured {
    padding: 20px 88px;
  }
}

main .card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

@media only screen and (min-width: 900px) {
  main .card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}

main h2 {
  color: #000;
  font-family: "Kulim Park";
  font-size: 24px;
  font-weight: 400;
}
